section.login {
  margin-top: 10%;
  text-align: center;
}

section.login > div.card {
  padding: 20px !important;
  width: 400px !important;
}

section.login label {
  font-size: 14px;
  color: #606060;
}

section.login img {
  margin: 0 auto;
  height: 50px;
  width: 50px;
  margin-bottom: 10px;
}
